* {
    margin: 0;
    padding: 0;
    font-family: Rambla;
}

/* Start Styles landing page*/
.landing {
    height: 100vh;
    background-image: url('../assets/background.jpg');
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.landing__container {
    width: 16em;
}
.lading__title {
    color: white;
    text-align: center;
}
.lading__title--name {
    color: #279E16;
}
.lading__title--btn {
    background-color: #787676;
    color: white;
    margin: 10px auto;
    display: block;
    padding: .5em;
    width: 14em;
    border-radius: 0.6em;
    
}
/*End Styles landing page*/

/*Start Header and Menu Style*/
.header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}
.header__menu {
    background-color: #242424;
    list-style-type: none;
    height: 4em;
    display: flex;
    align-items: center;
}
.header__menu--item {
    display: inline;
    margin: 1.5em;
    cursor: pointer;
    color: #fff;
    opacity: .5;
}
.header__menu > a {
    cursor: pointer;
    position: absolute;
    right: 3em;
}
/*End  Header and Menu Style*/

/*Start Home Styles*/
.home {
    height: 100vh;
}
.home__content {
    height: calc(100vh - 4em);
    position: relative;
    top: 4em;
    display: grid;
    grid-template-areas: 'photo info-knowledge'
                         'info-user info-tools';
    grid-template-rows: 50% 50% ;
    grid-template-columns: 50% 50%;
    
}
.home__content--info-user > h2 {
    text-align: center;
    padding-bottom: .3em;
}
.home__content--info-user > p {
    text-align: center;
    width: 20em;
    margin: auto;
}
.home__content--info-knowledge > h2 {
    text-align: center;
    padding-bottom: .3em;
    margin-top: 2em;
}
.home__content--info-knowledge--item {
    background-color: #C4C4C4;
    display: inline-block;
    padding: .3em 0.8em;
    border-radius: 1.3em;
    margin: .5em;
}
.home__content--info-tools p {
    text-align: center;
    width: 25em;
    margin: auto;
}
.home__content .home__content--photo {
    grid-area: 'photo';
    display: flex;
    justify-content: center;
    align-items: center;
}
.home__content .home__content--info-user {
    grid-area: 'info-user';
}
.home__content .home__content--info-knowledge {
    grid-area: 'info-knowledge';

}
.home__content .home__content--info-tools {
    grid-area: 'info-tools';
}

.home__content--photo > img {
    border-radius: 50%;
    width: 10em;  
}
/*End Home Styles*/

/*Start Home Styles Responsive*/

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}
/*End Home Styles Responsive*/






/*Start Briefcase Styles*/
.briefcase {
    height: 100vh;
    background-color: #f5f5f5;
}
.briefcase__container {
    height: calc(100vh - 4em);
    position: relative;
    top: 4em;
    display: grid;
    grid-template-areas: 'title title'
                         'project1 project2'
                         'project3 project4';
    grid-template-rows: 50% 50% ;
    grid-template-columns: 50% 50%;
}
.briefcase__container--project {
    width: 50%;
    background-color: #C4C4C4;
    height: 200px;
    border-radius: 1em;
    margin: auto; 
}


/*End Briefcase Styles*/

/*Start Contact Styles*/
.contact {
    height: 100vh;
    background-color: #fff;
}
.contact__container {
    height: calc(100vh - 4em);
    position: relative;
    top: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__container--form {
    width: 70vw;
    height: 66vh;
}
.contact__container--form > h2 {
    text-align: center;
    line-height: 3;
}

.contact__container--form > p {
    text-align: center;
    color: #279E16;
    line-height: 2;
}
.contact__container--form > input, textarea {
    display: block;
    width: 67%;
    position: relative;
    left: 16%;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .8em;
    background-color: #C4C4C4;
    border: 0;
    margin-bottom: 0.2em;
}
.contact__container--form--inputName {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;    
}
.contact__container--form--inputTextArea {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.contact__container--form--btn {
    margin-top: 1em;
    background-color: #C4C4C4;
    position: relative;
    padding-top: 0.5em;
    padding-bottom: .5em;
    padding-right: 2em;
    padding-left: 2em;
    border-radius: 0.8em;
    left: 72%;
    outline: none;
    border: 0;
    cursor: pointer;
}
/*End Contact Styles*/